
@{
    ViewBag.Title = "Buscar Información de empleados";
    string InputSelector = "Name",
        ContainerSelector = "EmployeesSpace";
}
<div class="row">
    <div class="col-xs-1 col-sm-10 p-sm-1">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 p-sm-1">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                @Html.Editor("Name", new { htmlAttributes = new { @class = "textInput", @id = InputSelector } })
            </div>
            <div class="col-xs-12 col-sm-2 float-right">
                <button type="button" id="SearchEmployees" data-container="#@InputSelector" data-target="#@ContainerSelector">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="@ContainerSelector" class="col-xs-12 col-sm-10 p-sm-1 start-hidden">

    </div>
    <div id="loading" class="loading-screen start-hidden">
        <img src="~/Content/Img/ajax-loader.gif" />"/>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('button#SearchEmployees').click(function () {
                var dataContainer = $(this).data('container');
                var dataTarget = $(this).data('target');
                var URL = '@Url.Action("FindEmployeesAsync","Home")/?name=' + $(dataContainer).val();
                $.post(
                    URL,
                    function (data) {
                        $(dataTarget).html(data);
                    }).done(
                        function () {
                            $(dataTarget).css('display', 'block');
                        }
                    );
            });
        });
    </script>
}
